.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-color:whitesmoke;
}





.card {
  margin-bottom:8px;
  background-color:white;
}
.card:hover .icon {
  color:black;
  opacity: 0.8;
}
.icon{
  color:white;
  float:right;
  margin-top:10px;
  right:5px;
  top: 5px;
  opacity: 0.5
}

.App-container{
  display: flex;
  flex-direction:row;
  overflow:auto;
  height: 92vh;
  
  margin-top: 20px;
  
}
.list-container{
  background-color: #dfe3e6;
  border-radius:3px;
  width: 300px;
  margin-left: 20px;
  padding: 8px;
  margin-right: 8px;
  z-index:-1
}
  

.del{
  float: right;
  margin-top:5px;
  right:5px;
  top: 5px;
  opacity: 0
}

.list-container:hover .del{
   color:black;
  opacity: 0.8;
}

 .overlay {
  
  background: rgba(154, 154, 172, 0.5); 
  
  width: 100%;
  transition: .5s ease;
  opacity:20;
  
  font-size: 20px;
  padding: 20px;
 
}
.overlay1 {
  
  background: #1e3d59; 
  
  width: 100%;
  transition: .5s ease;
  opacity:20;
  
  font-size: 20px;
 
}


.navbar-color{
  background-color: #22ACCA;
}
.board{
  background-color:#a8c0ff;
  height:120px;
  
  border-radius: 10px;
  display: flex;
  flex: 1;

}

.boardname{
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 35px;
}
.close{
  float: right;
  margin-top:5px;
  right:5px;
  /* top: 5px; */
  opacity: 0
}

.board:hover .close{
  color:black;
  opacity: 0.8;
} 
.boardtitle{
  margin-bottom: 30px;
  font-size: 25px;
}
